In [3]:
print("Hello World")

Hello World

In [2]:
print("stone")

stone

In [5]:
a = 1 
print(a)
a = 10
print(a)

1
10

In [7]:
a = 1 # a = 1, b = none
b = a # a = 1, b = 1
a = 2 # a = 2, b= = 1
print(a,b)

2 1

In [39]:
a = 1 #int
b = 1,2 #tuple
c = "Jangseoa" #str
d = True # bool
e = None #nonetype

type(e)

NoneType

In [13]:
type(a)

int

In [29]:
a = 1
b = "1"

c = str(a)
d = int(b)

In [33]:
type(d)

int

In [40]:
a = [1,2,3,4,5] # 서로 다른 타입 넣을 수 있음 / 리스트 안에 또 다른 리스트 넣을 수 있음
print(a)

[1, 2, 3, 4, 5]

In [61]:
students = [[1,"짱구"], [2,"철수"],[3,"맹구"],[4,"유리"],[5,"훈이"]]

print(students[0]) #인덱스 - 리스트에 활용한 대괄호 활용하여 구하고싶은 번호 넣기 (()안에) but 인덱스는 0부터 시작한다 ( ex 짱구를 나오게하려면 0 입력)

[1, '짱구']

In [62]:
print(students[3][0]) # 인덱스는 복합적으로 사용할 수 있다 / 마이너스 사용시 뒤에서부터 (ex -1 입력시 훈이 출력)

4

In [63]:
students[4][1] = "수지"

In [64]:
print(students)

[[1, '짱구'], [2, '철수'], [3, '맹구'], [4, '유리'], [5, '수지']]

In [65]:
students[2][1] = "광식"

In [66]:
print(students)

[[1, '짱구'], [2, '철수'], [3, '광식'], [4, '유리'], [5, '수지']]

In [68]:
print(students[2:4]) # 맨 뒤 번호의 데이터는 출력되지 않는다

[[3, '광식'], [4, '유리']]

In [77]:
a = [1,2,3,4,5]
min(a)
sum(a)
max(a)
len(a) # a의 길이 알려줌

5

In [80]:
b = a + [6,7]
b

[1, 2, 3, 4, 5, 6, 7]

In [82]:
avg = sum(a) / len(a) #평균은 합계를 개수로 나눈 것
avg

3.0

In [84]:
import numpy # numpy라는 라이브러리를 쓸것이라고 지정
numpy.mean(a) # numpy라이브러리 - a의 평균

3.0

In [96]:
del a[3]
a

[1, 2, 3, 5]

In [97]:
a.pop(0)

1

In [103]:
b = a.pop(0) # pop은 삭제한 값을 반환하는 특징이 있다 deleted_value
a

[2, 3, 4, 5]

In [102]:
a = [1,2,3,4,5]
a

[1, 2, 3, 4, 5]

In [104]:
b

1

In [105]:
a = [2,3,5,6]

In [109]:
a.insert(0,7) #0의 자리에 7 넣음 <>
a

[7, 7, 7, 7, 2, 3, 5, 6]

In [112]:
a.pop(0)
a

[7, 2, 3, 5, 6]

In [113]:
a.clear() #초기화
a

[]

In [122]:
a = [1,2,3,4,5]

In [123]:
a.remove(3) #3를 지운다(리스트 아님)
a

[1, 2, 4, 5]

In [124]:
a.insert(2,3) #2번 자리에 3을 넣음 (0부터 세아린다)
a #리스트는 수정가능 but 튜플은 수정 불가능 / 세트는 리스트와 같지만 중복 요소를 허용하지 않는다

[1, 2, 3, 4, 5]

In [126]:
a = {1,2,3,4,5,5,4} #세트는 중복 데이터가 제거되어 나옴 / 중괄호 사용
a

{1, 2, 3, 4, 5}

In [136]:
student = {\
    "id" : [1,2,3],\
    "name" : ["짱구","철수","유리"],\
    "favorite" : ["액션가면","모에피","토끼"],\ #딕셔너리 / 띄어쓰기는 \로 표시
}

In [ ]:
pr

In [137]:
student["id"][1]

2

In [140]:
students.keys()

AttributeError: 'list' object has no attribute 'keys'

In [138]:
students.keys("id","name","favorite")

AttributeError: 'list' object has no attribute 'keys'

In [141]:
students.values()

AttributeError: 'list' object has no attribute 'values'

In [139]:
students.values([[1,2,3],["짱구","철수","유리"],["액션가면","모에피","토끼"]])

AttributeError: 'list' object has no attribute 'values'

In [142]:
x = 2
y = 5

In [143]:
x + y

7

In [144]:
x - y

-3

In [145]:
x * y

10

In [146]:
x / y #나눗셈을 할 경우 무조건 float로 바뀐다.

0.4

In [147]:
x // y #몫

0

In [148]:
 y // x

2

In [149]:
y / x

2.5

In [150]:
y % x #나머지 / 몫과 나머지는 무조건 정수로 나온다

1

In [151]:
x % y

2

In [152]:
x ** y #제곱

32

In [153]:
y ** x

25

In [154]:
a = "python" # 뺄셈, 나눗셈은 불가능함
b = "programming"
print(a + b)

pythonprogramming

In [156]:
a

'python'

In [157]:
b

'programming'

In [158]:
a + " " + b #띄우기

'python programming'

In [160]:
a = "su" #154
b = 3

In [162]:
print(a * b + "supernova")

susususupernova

In [174]:
count = 0
count

0

In [173]:
count = count + 1 #1씩 늘어나게 한다
count

1

In [177]:
count += 1
count

1